<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Me</title>
</head>
<body>
	<h1>Thông tin cá nhân</h1>
	<p><strong>Họ và tên:</strong> <span th:text="${hoTen}"></span></p>
	<p><strong>Mã số sinh viên:</strong> <span th:text="${mssv}"></span></p>
	<p><strong>Năm sinh:</strong> <span th:text="${namSinh}"></span></p>
	<p><strong>Giới tính:</strong> <span th:text="${gioiTinh}"></span></p>
	<p><strong>Trường học:</strong> <span th:text="${truongHoc}"></span></p>
	<p><strong>Lớp:</strong> <span th:text="${lop}"></span></p>
	<p><strong>Email:</strong> <span th:text="${email}"></span></p>
</body>
</html>