<div class="bg-dark text-white p-3" id="sidebar-wrapper">
    <img src="https://khoacntt.ntu.edu.vn/Portals/54/Logo-Khoa-CNTT-NTU.png?ver=w1WaDt4_a6t2zoyh_JwxVA%3d%3d" alt="Khoa CNTT NTU Logo" class="img-fluid mb-3" style="max-width: 100%; height: auto;">
    <ul class="list-unstyled">
        <li><a href="/page/all" class="text-white">Page - List</a></li>
        <li><a href="/page/new" class="text-white">Page - Addnew</a></li>
        <li><a href="/post/all" class="text-white">Post - List</a></li>
        <li><a href="/post/new" class="text-white">Post - Addnew</a></li>
    </ul>
</div>
