<div class=" card shadow-lg border-0 p-3 bg-light mx-auto" style="max-width: 400px;">
    <h3 class="text-center text-primary" style="font-size: 16px">🌹 Tặng bông hồng</h3>
    <img src="https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/483329ROc/anh-mo-ta.png" 
         class="card-img-top rounded img-fluid w-100" 
         alt="Cute Dog Image"/>
    <div class="card-body text-center">
        <p class="text-muted">Nguồn: <strong>abc@gmail.com</strong></p>
    </div>
</div>
